@import ("reset.css");

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #3B4650;
}

*::after, *::before {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

h1 a, h1 a:hover {
  color: inherit;
}

h2 {
}

h3 {
  font-size: inherit;
}

h3 span {
  font-weight: normal;
  margin-left: 1em;
}

em {
  font-size: .9em;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 5px;
}

a:focus, a:hover {
  color: #337ab7;
}

footer {
  text-align: center;
  padding: 1em 2em;
  font-size: .8em;
}

.flex {
  display: block;
}

.flex .col {
  flex: none;
  padding: 10px 20px;
}

.flex-3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-3 .item {
  flex:1;
  flex-basis: 50%;
  margin-top: .5em;
}

@media (min-width:768px) {
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .flex .col {
      flex: 1;
  }

  .flex-3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-3 .item {
    flex:1;
    flex-basis: 30%;
    margin-top: 1em;
  }
}
