@import ("reset.css");

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #3B4650;
}

*::after, *::before {
  box-sizing: border-box;
}

/*main, footer {*/
footer {
  margin: auto 20px;
}

header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F4FAF8;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
    margin:0;
}

.header a {
  text-decoration: none;
  margin-right: 1em;
}

nav {
}

.header h1 {
  flex: 1;
}

nav a {
  flex: 1;
}

main {
  margin-top:100px;
}

section {
  /*margin-top:20px;*/
  margin: auto 20px;
}

section#home {
  margin:0;
  margin-top:20px;
  background-color: #F4FAF8;
  padding-bottom: 180px;
  position:  relative;
}

section#home > div.definition {
  position: absolute;
  bottom: 20px;
  width: 100%;
  border: 1px solid red;
  padding: 0px 100px;
}

h2 {
  /*border-bottom: 2px solid #3B4650;*/
}

h3 {
  font-size: inherit;
}

em {
  font-size: .9em;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style-type: none;
  /*border: 1px solid red;*/
  padding: 0;
}

ul li {
  margin: 0;
  padding: 5px;
}

#customer {
  background-image: url("img/BarbSLC-6.jpg");
  background-size: cover;
  text-align: center;
  padding: 20px;
}

#logo img {
  max-width: 520px;
}
